*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyIndex{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100px 300px 500px 100px;

}

nav{
    grid-column: 1/5;
    grid-row: 1/2;
    background-color: aquamarine;
}

header{
    grid-column: 1/5;
    grid-row: 2/3;
    background-color: blueviolet;
}

main{
    grid-column: 1/4;
    grid-row: 3/4 ;
    background-color: brown;
}
.paisajes{
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,100px);
}
.paisajes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.paisajes img:nth-child(1){
    grid-column: 1/3;
    grid-row: 1/3;
    
}
.paisajes img:nth-child(2){
    grid-column: 3/5;
    grid-row: 1/3;
}
.paisajes img:nth-child(3){
    grid-column: 1/3;
    grid-row: 3/5;
}
.paisajes img:nth-child(4){
    grid-column: 3/5;
    grid-row: 3/5;
   
}
.paisajes img:nth-child(5){
    grid-column: 2/4;
    grid-row: 2/4;
}

aside{
    grid-column: 4/5 ;
    grid-row: 3/4;
    background-color: chartreuse;
}
footer{
    grid-column: 1/5;
    grid-row: 4/5;
    background-color: crimson;
}

